<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加英雄</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static '/css/main.css'%}">
</head>
<body>
    <h1>添加英雄</h1>
    <form action="{% url 'booktest:addherohandler'%}" method="post">
        <input type="hidden" value="{{bookid}}" name="bookid">
        英雄名: <input type="text" name="hname"><br>
        性别: <input type="radio" name="hgender" value="1">男<input type="radio" name="gender" value="0">女 <br>
        技能: <input type="text" name="hcontent"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>