<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
</head>
<body>
    <h1>图书列表</h1>
    {% if booklist %}
        <ul>
            {% for book in booklist %}
                {#<li><a href="/booktest/detail/{{book.pk}}">{{book}}</a></li>#}
                <li><a href="{% url 'booktest:detail' book.pk %}">{{book}}</a></li>
            {% endfor %}
        </ul>

    {% else %}
        <h1>没有图书</h1>
    {% endif %}
    <!--<a href="/booktest">返回首页</a>-->
    <a href="{% url 'booktest:index'%}">返回首页</a>
</body>
</html>